mixin project(img, date, title, text)
  div.project
    a.project__link(href="#")
      div.project__img
        img(src=img, alt="")
        span.project__date=date
      div.project__text
        h3=title
        p=text
    
mixin card(number, title, text, img)
  .card
    .card__head  
      .card__number=number
      h4.card__title=title
    .card__body 
      .card__text=text
      .card__img 
        img(src=img) 